# Dependencies
node_modules/
package-lock.json

# Environment Variables (Sangat Penting: JANGAN DIHAPUS)
.env
.env.local
.env.*

# Build Outputs
dist/
artifacts/
cache/
typechain-types/
coverage/
coverage.json

# Hardhat
hardhat.config.js.backup

# IDE
.vscode/
.idea/
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
