@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background-color: #0B0E14;
    /* Force dark background */
    color: #f1f5f9;
}

/* Global link reset for better contrast */
a {
    color: white !important;
    text-decoration: none;
}